h1{
	color: white;  /*#ffc;*/
	background-color: #191970;
	/*text-align: center;*/
	font-size: 1.0em;
	width:auto
	font-family : 'Comic';
	/*adding: 1em;*/
	border-bottom-style: solid;
	clear:left;
	/*border-bottom-width: 0.7em;*/
	
	/*border-bottom-color: #c63c64;*/

       background-image: url(/~db/db-aviation/images/clouds.jpg);
       background-repeat: no-repeat;
       background-position: right top;
       padding-top:40px;
       padding-bottom:20px;
       width: 100%;
       clear:left;

   /*  background-image: url(maurouli.jpg);
      background-repeat: no-repeat;
      background-position: left top relative;
      padding-top:40px;
	padding-bottom:20px;
      margin-bottom:50px;*/
   }


#menu ul {margin: 0; padding: 20px; 
	list-style-type: none; list-style-image: none; }
#menu li {display: inline; padding: 5px 20px 5px 20px}
#menu ul li a {text-decoration:none;  margin: none;
	padding: 5px 10px 5px 20px; color:#FFFFCC;
	background:  #191970;}
#menu ul li a:hover {color: white;
	background: #1E90FF; }

#footer{
	border-top-width: 2px;
	border-top-style: solid;	
	border-top-color: #87CEFA;

	position:absolute;
	bottom:0px;
	color: #00008B;
	text-align: center;
	font-size: small;
	width: 100%;
	padding-top: 10px;
	padding-right: 0px;
	padding-left: 0px;
	height: 10px; /*to allaxa gia na hwraei o pinakas ths insert alla prepei na ginetai automata*/
	/*background-image: url(images/footer.png);
	background-position: top;
	background-repeat:repeat-x;
	padding-bottom: 0px;*/
}

table {
    border-collapse:collapse;
}

table, th, td {
    border: 1px solid black;
    

}
/*#footer .center_section {
	text-align : center;
	width:33%;
	color:#00008B;
	margin-top: 5px;
}*/
.show {
    display:block;
}
.hide {
    display:none;
}
