h1{
	color: white;  /*#ffc;*/
	background-color: #191970;
	/*text-align: center;*/
	font-size: 1.0em;
	margin : 0px;
	font-family : 'Comic';
	adding: 1em;
	border-bottom-style: solid;
	border-bottom-width: 0.7em;
	
	/*border-bottom-color: #c63c64;*/

      	background-image: url(clouds.jpg);
     	background-repeat: no-repeat;
      	background-position: right top;

     	padding-top:40px;
	padding-bottom:20px;
	width: auto;

   }

#menu ul {margin: 0; padding: 0; 
	list-style-type: none; list-style-image: none; }
#menu li {display: inline; padding: 5px 20px 5px 20px}
#menu ul li a {text-decoration:none;  margin: none;
	padding: 5px 10px 5px 20px; color:#FFFFCC;
	background:  #191970;}
#menu ul li a:hover {color: white;
	background: navy; }
