table {
    border-collapse: collapse;
    width: 100%;
    border-bottom: 1px solid #ccc;
}
tbody tr {
    border-left: 1px solid #ccc;
}
tbody tr td:last-child {
    border-right: 1px solid #ccc;
}
th {
    color: white;
    text-align: center;
    background-color: rgb(70,130,180);
}
tr th:first-child {

text-align: center;
    border-top-left-radius: 5px;
}
tr th:last-child {

text-align: center;
    border-top-right-radius: 5px;
}
tr:nth-child(even) {

	text-align: center;
    background-color: rgb(175,238,238);
    border-top: 1px solid rgb(72,61,139);
    border-bottom: 1px solid rgb(72,61,139);
	padding:0px,0px,0px,0px;
	margin:0px,0px,0px,0px;
}	
th, td {
	text-align: center;
}
